# REST server
PORT=3000

# IPFS
IPFS_API_URL=http://127.0.0.1:5001

# Fabric Gateway
CHANNEL_NAME=mychannel
CHAINCODE_NAME=filemeta

# Peer (Org1 defaults from Fabric test-network)
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.org1.example.com
TLS_CERT_PATH=../network/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt

# Identity (Org1 user)
MSP_ID=Org1MSP
CERT_PATH=../network/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/cert.pem
KEY_DIR=../network/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore

